.timeBagde{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #FFD15B;
    border-radius: 14px;
    font-weight: 400;
}

.sm{width: 63px; height: 26px; font-size: 12px;}
.lg{width: 63px; height: 26px; font-size: 12px;}