.recipeCard{
    display: flex;
    flex-direction: column;
    width: 23.75rem;
    height: 45.688rem;
    border-radius: 21px;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    background-color: #FFFFFF;
    overflow: hidden;
}

.recipeCard a { color: inherit; text-decoration: none; }

.headCard{
    position: relative;
    aspect-ratio: 3/2;
}

.imageCard{
    object-fit: cover;
}

.time{
    position: absolute;
    top: 21px;
    right: 22px;
    background: #FFD15B;
    width: 63px;
    height: 26px;
    border-radius: 14px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipeCardContent{
    width: 85%;
    margin: 0 auto;
    flex: 1;
}

.recipeCardContent h2{
    font-size: 18px;
    margin-top: 32px;
    line-height: 1.25; 
    display: -webkit-box;
    -webkit-line-clamp: 1;          
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recipeCardContent h3{
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 9%;
    text-transform: uppercase;
    color: #7A7A7A;
    margin-top: 30px;
    margin-bottom: 0;
}

.description{
    height: 88px;
    overflow: hidden;
}



.recipeCardContent p{
    font-size: 14px;
}


