.labelSearch{
    display: inline-flex;
    justify-content: space-between;
    background-color: #FFD15B;
    border-radius: 10px;
    
    width: 195px;

    font-weight: 400;
    font-size: 14px;
    padding: 17px 18px;
}

.labelSearch button{
    border: 0;
    background: transparent;
    cursor: pointer;
}
