.searchCta{
  display:grid; place-items:center; 
  width:52px; height:52px;           /* ~51×52 vu dans Figma */
  border-radius:16px;
  border:none; cursor:pointer;
      position: absolute;
    right: 10px;
    top: 8.5px;
    background-color: #1B1B1B;
    color: #FFFF;
}