.footer{
    background-color: black;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer small{
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}